@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.popins{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* navbar style start */

.navbar{

    justify-content: space-between;
    align-items: center;
}
.brand-name{
    font-size: 1.5rem;
}


nav ul li{
    list-style: none;
    margin-right: 30px;

}

nav ul a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #3A3A3A;
}

nav ul li img{
    width:100%;
}


/* navbar style end */

/* welcome hero style start */

.welcome-hero-content{
    margin-top: 80px;
    align-items: center;
    justify-content: center;
}


.welcome-hero-img{
    background-image: url(assets/images/Circle\ design.svg);
    background-position: center;
    background-size: cover;
}


.welcome-hero-img img{
    align-items: center;
    justify-content: center;
}


.our-sponsor{
    align-items: center;
    justify-content: space-around;
    border: 1px solid #012a703a;
    margin-top: 60px;
    padding: 30px 0px;
    border-radius: 8px;
}

.our-sponsor{
grid-template-columns: repeat(7, 1fr);
justify-items: center;
gap: 25px;
}



/* welcome hero style end */



/* collection start */

.checked {
    color: orange;
  }

.col-collection{
    padding: 15px;
}

.col-collection-card{
    border: 1px solid #012a7018;
    padding: 15px 17px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-collection-card img{
    width: 100%;
}

.collection{
    grid-template-columns: repeat(3, 1fr);
}


.col-collection-card h4, h5, p{
    margin: 6px 0px;
}

/* collection end */




/* shared style start */

.display-flex{
    display: flex;
}

.margin{
    max-width: 1140px;
    margin: 0 auto;
}

.para{
    font-size: 1.05rem;
    font-weight: 600;
    color: #3A3A3A;
}

.btn-primary{
    padding: 12px 20px;
    background-color: #012970;
    color: #ffffff;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: .3s ease-in;
    cursor: pointer;
    margin-top: 17px;
}

.btn-primary:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-long-arrow-right{transition: .3s ease-in;}

.btn-primary:hover .fa-long-arrow-right{
    transform: translateX(7px);
}



.display-grid{



    display: grid;
}


/* shared style end */



/* responsive design start */

@media screen and (max-width:577px) {
    .display-flex{
        flex-direction: column;
    }

    .menu-links{
        text-align: center;
    }
    nav ul li{
        text-align: center;
        margin-top: 10px;
    }

    .welcome-hero-content{
        flex-direction: column-reverse;
        text-align: center;
    }
    .our-sponsor{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* responsive design end */